# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
db.sqlite3
newenv/
venv/
.env/
.venv/
env/
.env
secrets.json

# Node.js/React
node_modules/
dist/
build/
.next/
out/
.npm
.yarn/
yarn-error.log*
npm-debug.log*

# PostgreSQL
postgres-data/
*.dump

# System/IDE
.DS_Store
.idea/
.vscode/
Thumbs.db